@import "src/scss/variables";
@import "src/scss/helpers";
.contact-container {
    display: flex;
    flex-direction: column;
    form {
        input[type="file"] {
            display: none;
        }
        input.mat-flat-button {
            @include button_full($button_purpure);
        }
        mat-form-field {
            width: 100%;
        }
    }
    textarea {
        max-height: 100px;
    }
    @media only screen and (max-width: 575px) {
        .input-group {
            display: grid !important;
        }
        .input-groupC {
            left: 0px !important;
        }
    }
    .animate__animated {
        animation-fill-mode: none !important;
    }
}

@media only screen and (max-height: 900px) and (max-width: 575px) {
    @at-root .cdk-overlay-pane {
        margin-top: 155px !important;
    }
}

@media only screen and (max-height: 770px) and (max-width: 575px) {
    .mat-dialog-container {
        width: auto !important;
        height: auto !important;
        position: fixed !important;
        top: 66px !important;
        right: 0px !important;
        left: 0px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
        bottom: 235px !important;
        z-index: 1060 !important;
    }
}

@media only screen and (max-height: 450px) {
    .mat-dialog-container {
        width: auto !important;
        height: auto !important;
        position: fixed !important;
        top: 66px !important;
        right: 0px !important;
        left: 0px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
        bottom: 65px !important;
        z-index: 1060 !important;
    }
}